


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 80px;
background-color: #060000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
}
nav img{
    width: 50px;
    height: 50px;
    margin-left: 5rem;
    border-radius: 50%;
    object-fit: cover;
}
nav ul{
display: flex;
margin: 0 25rem;
}
nav ul li{
    list-style: none;
    margin: 1rem;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    transition: .5s;
}
nav ul li a:hover{
    color: black;
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 10px;
    scale: 1.1;
}
#openNav, #closeNav{
    background-color: transparent;
    border: none;
}
#openNav:hover, #closeNav:hover{
    scale: 1.1;
}
#openNav{
    margin-top: 0rem;
}
nav i{
    font-size: 1.5rem;
    color: #fff;
}
input[type=text], #search{
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 5px;
    padding: 0.3rem;
    color: #fff;
    transition: .3s;
}
input[type=text]:focus, #search:focus{
    outline: none;
    background-color: white;
    color: #fff;
}
#search{
    padding: 0.3rem 1rem;
}
#search:hover{
    background-color: burlywood;
    color: black;
    scale: 1.1;
} 

aside{
    width: 0px;
    height: 100vh;
    position: absolute;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    
   overflow: hidden;
   transition: .3s;
}
aside h1{
    color: black;
    margin-top: 0rem;
}
aside li{
    list-style: none;
    padding: 0;

}
aside li a{
    text-decoration: none;
    color: black;
    padding: 1rem 3rem;
    font-size: 1rem;
    transition: .3s;
}
aside li a:hover{

    color: black;
    text-decoration: underline;
    text-decoration-color: #895129;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.2rem;

}
aside li i{
    margin-left: 2rem;
    font-size: 1.2rem;
    margin-right: 0rem;
}
aside i{
    font-size: 2rem;
    color: black;
    margin-top: 2rem;
    margin-right: 13rem;
}
aside footer{
    bottom: 0;
    position: absolute;
    background-color: transparent;
    border-top: 1px solid #895129;
}
aside footer h1{
    color: black;
    font-size: 0.7rem;
    background-color: white;
    padding: 0.2rem 1rem;
    border-radius: 10px;
}
aside footer i{
    color: black;
    font-size: 1rem;
    
}
.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url(bckg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(0, 0, 0, 0.6);
    background-blend-mode: darken;
    width: 100%;
    height: calc(100vh - 80px);
    
}
.content h1{
    color: white;
    font-size: 3rem;
    text-align: center;
    margin: 2rem;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 60vh;
    backdrop-filter: blur(5px) saturate(10%);
    margin-left: 6rem;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
.form h1{
    font-size: 2rem;
    color: #333;
}
.form input{
    width: 30%;
    height: 4vh;
    margin: 1vh 0;
    padding: 1vh;
    border-radius: 15px;
    border: 1px solid #ccc;
    background-color: #ccc;
}
textarea{
    width: 30%;
    height: 10vh;
    margin: 1vh 0;
    padding: 1vh;
    border-radius: 15px;
    border: 1px solid #ccc;
    background-color: #ccc;
}
.form button{
    width: 15%;
    height: 5vh;
    margin: 1vh 0;
    padding: 1vh;
    border-radius: 15px;
    border: none;
    background-color: #898989;
    color: white;
    font-size: 16px;
}
.form button:hover{
    background-color: #45a049;
}

.aboutUs{
    width: 100%;
    height: 30vh;
    background-color: #6F4E37;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card1, .card2, .card3{
    width: 20%;
    height: 25vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
   border-right: 2px solid #895129;
    border-left: 2px solid #895129;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card1 img, .card2 img, .card3 img{
    width: 40%;
    height: auto;
  
}
.card1 h1, .card2 h1, .card3 h1{
    font-size: 2rem;
    color: #333;
}




@media (max-width: 500px){
    nav {
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 2rem; 
        height: auto;
        
    }
    nav img {
        margin-left: 0;
        margin-bottom: 0.5rem;
    }
    nav ul {
        flex-direction: column;
        margin: 0;
        align-items: center;
       
    }
    nav ul li, nav input, #search {
        margin: 0.5rem 0;
        display: none;
    }

    #openNav, #closeNav {
        margin-top: 0;
        
    }
    .content {
        flex-direction: column;
        height: auto;
        padding: 1rem 0;
    }
    .form {
        width: 90%;
        margin-left: 0;
        height: auto;
        padding: 1rem 0;
    }
    .form input,
    textarea {
        width: 90%;
    }
    .form button {
        width: 60%;
    }
    .aboutUs {
        flex-direction: column;
        height: auto;
        padding: 1rem 0;
    }
    .card1, .card2, .card3 {
        width: 90%;
        height: auto;
        margin: 1rem 0;
        border-left: none;
        border-right: none;
    }
    aside i {
        margin-right: 2rem;
    }
}
